<% provide(:title, 'Home') %>


<div class="center hero-unit">
  <h1>Welcome to onTheGo </h1>

  <h2>
    This is the home page for the
    <a href="http://localhost:3000/about">onTheGo</a>
    webpage
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<img alt="onTheGo" src="/assets/onTheGo.jpg" />