<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1> 
    </section>
  </aside>
   <div class="span8">
    	<% if @user.houses.count > 0 %>
      		<h3 id ="count_ajax" >Houses</h3>
      		<ol class="houses">
        		<%= render @houses %>
      		</ol>
      	<%= will_paginate @houses %>	
        <% else %>

        <p class = "houses"> It's quite empty here. </p>
    	<% end %>
  </div>
</div>
