  <img alt="onTheGo" src="/assets/onTheGo.jpg" />
<footer class="footer">
  <small>
    <%= link_to "onTheGo - Homes away from home", root_path %>
    developed by RAGAV
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li>   Connect with us:</li>
      <li><a href="https://www.facebook.com/ragavr1" target="_blank">Facebook</a></li>
      <li><a href="https://plus.google.com/u/0/117531796095604317337/posts" target="_blank">Google+</a></li>
      <li><a href="https://www.linkedin.com/in/ragavendren-r-a1760b86?trk=hp-identity-name" target="_blank">LinkedIn</a></li>
    </ul>
  </nav>
</footer>
